<% set_meta_tags title: @title + " - 感想・レビュー・評価・あらすじ ", description: @subTitle, keywords: "話題の海外ドラマ,海外ドラマ,感想,評価",og: { title: @title, type: 'article'} %>

 <%= render "partial/navbar" %>

 <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <h3 class="text-primary section-heading"><%= @title %></h3>
        <h4 class="text-primary section-subheading"><%= @subTitle %></h4>
      </div>
    </div>

    <div class="row">
      <% @dramas.each do |drama|%>
      <% if drama.id != 0 %>
      <div class="col-md-4 col-sm-6 col-xs-6 portfolio-item  text-center">
        <span style="vertical-align:middle;">
          <%= link_to image_tag("#{drama.image_url}"), drama_path(drama)  %>
        </span>
        <div class="text-info .bg-info">
          <% if request.from_smartphone? %>
            <%= link_to truncate(drama.title, length: 13), drama_path(drama) %>
          <% else %>
            <%= link_to drama.title, drama_path(drama) %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</section>
