 <%= render "partial/navbar" %>
    <section id="drama-show" class="bg-light-gray row-space-top-4 row-space-4">
     <div class="container">
      <% drama= @drama%>
      <%= render "partial/seasonTab", drama: drama %>
      <div class="episode-overview col-md-12">
        <div class="col-md-4 col-sm-4 portfolio-item box1 row-space-2 center-block">
          <span style="vertical-align:middle;">
            <%= image_tag("#{drama.image_url}",:align => 'center') %>
            <%= link_to image_tag("share_drama"),
            new_impression_path(impression_type: '0', drama_id: @drama.id) %>          
          </span>
        </div>
        <div class="col-md-8 col-sm-8 portfolio-item">
          <h3 class="episode-title"><%= @drama.title %></h3>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="episode-summary"><%= @drama.over_view %></h3>
            </div>

          </div>
        </div>
      </div>  
    </div>
  </section>
<%= render 'partial/impressionArea', subtitle: 'このドラマに'  %>
<%= render 'partial/footer' %>

