 <%= render "partial/navbar" %>

 <div class="container">
  <%= render "partial/seasonTab", drama: @drama %>

   <div class="row">
    <div class="col-md-4 col-sm-4 portfolio-item row-space-2 center-block">
      <span style="vertical-align:middle;">
        <%= image_tag("#{@drama.image_url}",:align => 'center') %>
        <%= image_tag "share_drama" %>

      </span>
      <p class="text-info hidden-xs .bg-info"><%= @drama.over_view =%></p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 portfolio-item row-space-2 ">
        <p>原作：aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>原作：aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>原作：aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <p>原作：aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

      </div>
    </div>
  </div>



