 <%= render "partial/navbar" %>
 <section id="season-show" class="bg-light-gray row-space-top-4 row-space-4">
   <div class="container">
    <section id="episode-show" class="bg-light-gray row-space-top-4 row-space-4">
     <div class="container">
      <% drama= @drama%>
      <%= render "partial/seasonTab", drama: drama %>
      <div class="episode-overview col-md-12">
        <div class="col-md-4 col-sm-4 portfolio-item box1 row-space-2 center-block">
          <span style="vertical-align:middle;">
            <%= image_tag("#{drama.image_url}",:align => 'center') %>
            <%= link_to image_tag("share_season"),
            new_impression_path(impression_type: '1', season_id: @season.id) %>
          </span>
        </div>
        <div class="col-md-8 col-sm-8 portfolio-item">
          <h3 class="episode-title"><%= @season.title %></h3>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="episode-summary"><%= @season.over_view %></h3>
            </div>

          </div>
        </div>
      </div>  
    </div>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">話数</th>
        <th scope="col">タイトル</th>
        <th scope="col">感想シェア数</th>
        <th scope="col">この話の感想をシェアする</th>

      </tr>
    </thead>
    <tbody>
      <% @count=0 %>
      <% @episodes.each do |episode| %>
      <tr>
        <th scope="row"><%= @count += 1 %></th>
        <td><%= link_to "#{episode.episode_name}",episode_path(episode) %></td>
        <td><%= 0 %></td>
        <td><%= link_to image_tag("share"),
        new_impression_path(impression_type: '2', episode_id: episode.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="row row-space-2">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">みんなの感想</h3>
          <h3 class="section-subheading"><%= drama.title %></h4>
            <div class="row ">
              <% @impressions.each do |impression|%>
              <div class="col-md-8 col-sm-12 col-md-offset-2 portfolio-item row-space-2 impression-overview">
                <div class="portfolio-caption">
                  <span style="font-weight: bold;"></span>
                  <!--吹き出しはじまり-->
                  <div class="balloon5">
                    <div class="faceicon">
                      <% if !impression.user.image.nil? %>
                      <%= image_tag impression.user.image, class:"img-circle profile-0" %>
                      <p><%= impression.user.name %>さん</p>
                      <% end %>
                    </div>

                    <div class="chatting">
                      <div class="says">
                        <p><%= simple_format(impression.impression, :calss => "hoz") %></p>
                      </div>

                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= render 'partial/footer' %>


