 <%= render "partial/navbar" %>
 <section id="season-show" class="bg-light-gray row-space-top-4 row-space-4">
   <div class="container">
    <section id="episode-show" class="bg-light-gray row-space-top-4 row-space-4">
     <div class="container">
      <% drama= @drama%>
      <%= render "partial/seasonTab", drama: drama %>
      <div class="episode-overview col-md-12">
        <div class="col-md-4 col-sm-4 portfolio-item box1 row-space-2 center-block">
          <span style="vertical-align:middle;">
            <%= image_tag("#{drama.image_url}",:align => 'center') %>
            <%= image_tag "share_drama" %>
          </span>
        </div>
        <div class="col-md-8 col-sm-4 portfolio-item">
          <h3 class="episode-title"><%= @season.title %></h3>
          <div class="row">
            <div class="col-md-12">
              <h3 class="episode-summary"><%= @season.over_view %></h3>
            </div>

          </div>
        </div>
      </div>  
    </div>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">話数</th>
        <th scope="col">タイトル</th>
        <th scope="col">感想シェア数</th>
        <th scope="col">この話の感想をシェアする</th>

      </tr>
    </thead>
    <tbody>
      <% @count=0 %>
      <% @episodes.each do |episode| %>
      <tr>
        <th scope="row"><%= @count += 1 %></th>
        <td><%= link_to "#{episode.episode_name}",episode_path(episode) %></td>
        <td><%= 0 %></td>
        <td><%= link_to image_tag("share"),
        new_impression_path(impression_type: '2', episode_id: episode.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<%= render 'partial/footer' %>


