<% set_meta_tags title: @drama.title+@season.title+" - 感想・レビュー・評価・あらすじ ", description: "#{@drama.title}の感想、レビュー。#{@season.over_view}", keywords: "#{@drama.title}#{@season.title},海外ドラマ,感想,評価",og: { title: @drama.title, type: 'article', image: @drama.image_url } %>

<%= render "partial/navbar" %>
<section id="season-show" class="bg-light-gray row-space-top-4 row-space-4">
 <div class="container">
  <section id="episode-show" class="bg-light-gray row-space-top-4 row-space-4">
    <% drama= @drama%>
    <%= render "partial/seasonTab", drama: drama,title: drama.title+@season.title %>
    <%= link_to "アクション", dramas_path(category: drama.category) %> >
    <%=link_to "#{drama.title}", drama_path(drama) %> >
    <%=link_to "#{@season.title}", season_path(@season) %>
    <div class="episode-overview col-md-12 ">
      <div class="col-md-4 col-sm-4 portfolio-item box1 row-space-2 center-block text-center">
        <span style="vertical-align:middle;" c>
          <%= image_tag("#{drama.image_url}",:align => 'center') %>
          <%= link_to image_tag("share_season"),
          new_impression_path(impression_type: '1', season_id: @season.id) %>
        </span>
      </div>
      <div class="col-md-8 col-sm-8 portfolio-item">
        <h4 class="episode-title"><%= @season.title %></h4>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <p class="episode-summary"><%= @season.over_view %></p>
            <div class="episode-summary row-space-1">
              <%= link_to "出典: #{@season.source_url}", @season.source_url %>
            </div>
            <div>
              <%= social_share_button_tag(drama.title+"の感想をmitanoで話し合おう！") %>         
            </div>
          </div>

        </div>
      </div>
    </div>  
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">話数</th>
        <th scope="col">タイトル</th>
        <th scope="col">感想シェア数</th>
        <th scope="col">この話の感想をシェアする</th>
      </tr>
    </thead>
    <tbody>
      <% @count=0 %>
      <% @episodes.each do |episode| %>
      <tr>
        <th scope="row"><%= @count += 1 %></th>
        <td><%= link_to "#{episode.episode_name}",episode_path(episode) %></td>
        <td><%= episode.impressions.count %></td>
        <td><%= link_to image_tag("share"),
        new_impression_path(impression_type: '2', episode_id: episode.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= render 'partial/impressionArea', subtitle: 'このシーズンに'  %>
<%= render 'partial/footer' %>


