<% impressions.each do |impression|%>

<div class="col-md-12 col-sm-9 col-xs-12  row-space-2 impression-overview">
  <div class="portfolio-caption">
    <span style="font-weight: bold;"></span>
    <div class="balloon5">
     <div class="faceicon">
      <% if !impression.user.image.nil? %>
      <%= link_to image_tag(impression.user.image, class:"img-circle profile-0"),user_path(impression.user.id) %>
      <% else %>
      <%= link_to image_tag('no-image', class:"img-circle profile-0"),user_path(impression.user.id) %>
      <% end %>
      <p><%= link_to "#{impression.user.name}さん", user_path(impression.user.id) %></p>
    </div>
    <div class="chatting">
      <div class="says">
        <p><%= simple_format(impression.impression) %></p>
        <div id="impression-<%= impression.id %>" data-impression-id="<%= impression.id %>">
          <div class="btn-toolbar">
            <div class="btn-group">
              <%= render "likes/like",impression: impression %>
            </div>
            <% isShowCommentBtn = true if isShowCommentBtn.nil? %>
            <% if isShowCommentBtn %>
            <div class="btn-group">
              <%= link_to impression_path(impression), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-edit"></span><%= impression.comments_count %>コメント
              <% end %>
            </div>
            <% end %>
            <% if impression.user == current_user %>
            <div>
              <%= link_to "編集する", edit_impression_path(impression) %>
              <%= link_to "削除", impression_path(impression), method: :delete, remote: true ,
              data: { confirm: "削除しますか?" } %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<% end %>
<% if isShowNewsArea %>
<div class="col-md-12 page-header">
  <h2 class="no-impression"><small><%=@drama.title%>に関する最新ニュース</small></h2>
</div>
<div class="col-md-12">
  <% @entries.each do |entry| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to entry.title, entry %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
    </div>
  </div>
  <% end %>
</div>
<% end %>
