<%= render 'partial/navbar' %>
<div class="container2">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span style="font-size:24px;">ドラマの感想を掲載する</span>
          </div>
        </div>
        
        <div class="panel-body">      
          <!-- ここからフォーム -->
          <%= form_for @impression do |f| %>
          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>タイトル</label>
                <%= f.select :title, [["ゲームオブスローンズ ","ゲームオブスローンズ"], ["ウォーキング・デッド","ウォーキング・デッド"], ["アパート","アパート"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>シーズン</label>
                <%= f.select :season, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>エピソード</label>
                <%= f.select :episode, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
              </div>
            </div>
          </div>
          <br>

          <div class="actions">
            <%= f.submit "Save", class: "btn btn-danger" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
