<%= render 'partial/navbar' %>
<div class="container2">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-center">
            <span style="font-size:24px;"><%= @impression_title_preffix %>に対して感想を掲載する</span>
          </div>
        </div>
        
        <div class="panel-body">      
          <!-- ここからフォーム -->
          <%= form_for @impression do |f| %>
          <%= f.hidden_field :impression_type, :value => params[:impression_type] %>
          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>タイトル</label>
                <%= select_tag 'title', options_for_select(@titles), class: 'form-control' %>
                <!--  TODO -->
                <%= f.hidden_field :drama_id, :value =>  !@drama.nil? ? @drama.id : "1"%>
              </div>
            </div>
          </div>
          <br>
          <% if params[:impression_type] == "0" %>
            <%= f.hidden_field :season_id, :value => "0"%>
            <%= f.hidden_field :episode_id, :value => "0"%>
          <% end %>
          <% if params[:impression_type] != "0" %>
          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>シーズン</label>
                <%= select_tag 'season_no', options_for_select([@season.season_no]), class: 'form-control' %>
                <%= f.hidden_field :season_id, :value => @season.id %>
                <%= f.hidden_field :episode_id, :value => "0" %>
              </div>
            </div>
          </div>
          <br>
          <% end %>

          <% if params[:impression_type] == "2" %>
          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>シーズン</label>
                <%= select_tag 'season_no', options_for_select([@episode.season.season_no]), class: 'form-control' %>
                <%= f.hidden_field :season_id, :value => @episode.season.id %>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>エピソード</label>
                <%= select_tag 'episode_no', options_for_select([("第"+@episode.episode_no.to_s+"話:"+@episode.episode_name)]), class: 'form-control' %>
                <%= f.hidden_field :episode_id, :value => @episode.id %>
              </div>
            </div>
          </div>
          <br>
          <% end %>
          <div class="row">
            <div class="col-md-12 select">
              <div class="form-group">
                <label>感想</label>
                <%= f.text_area :impression, rows: 10, class: 'form-control' %>
              </div>
            </div>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Save", class: "btn btn-danger" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
<%= render 'partial/footer' %>

