<%= render "partial/navbar" %>
<div class="container">
  <div class="row">
   <h1 class="episode-title drama-title3">海外ドラマ情報やセレブ、ゴシップなど最新の海外ドラマ関連ニュース。
   </h1>
   <div class="col-md-8">

    <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to entry.title, entry %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="card my-4">
      <h5 class="card-header">カテゴリー</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
              <li>
                <%= link_to "Hollywood News", entries_index_url(id:1)%>
              </li>
              <li>
                <%= link_to "海外ドラマナビ", entries_index_url(id:2)%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>