 <%= render "partial/navbar" %>

 <div class="container">
  <div class="row">
    <h4 class="drama-title"><%= @entry.title %></h4>
    <%= link_to "HOME", root_path %> >
    <%= link_to "フィード一覧", entries_index_url(id:@entry.feed) %> >
    <%= "#{@entry.title}"%><br>
    <i class="left"><%= @entry.published %> <%= @entry.author %>の投稿</i>
    <br>
    <div class="box26">
      <div class="text-muted">
    <% @entryCategories.each do |ec| %>
    <%= ec.name %>
    <% end %>
    </div>
    <p class="episode-summary">
      <%= @entry.content.html_safe %>
      <%= link_to "もっと見る", @entry.url %>
    </p>
  </div>
  </div>
</div>