<%= render 'partial/navbar' %>
<script type="text/javascript">
  $(function(){
    <% if !@user.email.blank? %>
    $("#ver-email").attr('class','vertification-checked');
    <% end %>

    <% if !@user.phone_number.blank? %>
    $("#ver-tel").attr('class','vertification-checked');
    <% end %>

    <% if @user.provider == "facebook" %>
    $("#ver-facebook").attr('class','vertification-checked');
    <% end %>
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <% unless @user.image.blank? %>
      <div class="user-profile row-space-4 text-center">
        <%= link_to image_tag(@user.image, class: "profile-full img-circle"),user_path(@user) %>
      </div>
      <% else %>
      <%= link_to image_tag('no-image', class: "profile-full img-circle"),user_path(@user) %>
      <% end %>
      <section class="stats">
        <%= render 'partial/stats' %>
      </section>
      <div class="panel panel-default verifications hidden-xs hidden-sm">
        <div class="panel-heading">
          プロフィール
        </div>
        <div class="panel-body">
          <div id="name">
            <%= @user.name %>
          </div>
          <br>
          <div id="description">
           <%= simple_format(@user.description) %>
         </div>

       </div>
     </div>
   </div>

   <div class="col-md-9 col-xs-12">

    <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
      <h1><small><%= @user.name %>さん<%=@title%></small></h1>
    </div>
    <div  id="loadusers">
        <%= render "user" %>
    </div>
  </div>
</div>    
</div>

</div>