<%= render 'partial/navbar' %>

<!-- 認証チェックマーク -->
<!-- 空欄ではない場合にclasを追加 -->
<script type="text/javascript">
  $(function(){
    <% if !@user.email.blank? %>
      $("#ver-email").attr('class','vertification-checked');
    <% end %>

    <% if !@user.phone_number.blank? %>
      $("#ver-tel").attr('class','vertification-checked');
    <% end %>

    <% if @user.provider == "facebook" %>
      $("#ver-facebook").attr('class','vertification-checked');
    <% end %>
  });
</script>

<div class="container2">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <% unless @user.image.blank? %>

      <div class="user-profile row-space-4 text-center">
        <%= image_tag @user.image, class: "profile-full img-circle" %>
      </div>
      <% end %>
      <div class="panel panel-default verifications hidden-xs hidden-sm">
        <div class="panel-heading">
          認証済みID
        </div>
        <div class="panel-body">
          <div id="ver-email">
            メールアドレス
          </div>
          <br>
          <div id="ver-tel">
            電話番号
          </div>
          <br>
          <div id="ver-facebook">
            Facebook
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <p>自己紹介</p>
      <%= @user.name %>
      <%= simple_format(@user.description) %>
    </div>
  </div>    
</div>
<%= render 'partial/footer' %>
