<% drama= @episode.season.drama%>
<% season= @episode.season%>

<% set_meta_tags title: drama.title+season.title+"第#{@episode.episode_no}話"+" - 感想・レビュー・評価・あらすじ ", description: season.over_view, keywords: "#{drama.title}#{season.title}第#{@episode.episode_no}話,海外ドラマ,感想,評価",og: { title: drama.title, type: 'article', image: drama.image_url } %>
<%= render "partial/navbar" %>
<section id="episode-show" class="bg-light-gray row-space-top-4 row-space-4">
 <div class="container">
  <%= render "partial/seasonTab", drama: drama %>
  <div class="episode-overview col-md-12">
    <div class="col-md-4 col-sm-4 portfolio-item box1 row-space-2 center-block text-center">
      <span style="vertical-align:middle;">
        <%= image_tag("#{drama.image_url}",:align => 'center') %>
        <%= link_to image_tag("share_drama"),
        new_impression_path(impression_type: '2', episode_id: @episode.id) %>
      </span>
      <p class="text-info .bg-info"><%= @episode.season.over_view =%></p>
    </div>
    <div class="col-md-8 col-sm-8 portfolio-item">
      <h4 class="episode-title"><%= "第"+@episode.episode_no.to_s+"話:"+@episode.episode_name %></h4>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h4 class="episode-summary"><%= @episode.over_view %></h4>
          <div class="episode-summary row-space-1">
          <%= link_to "出典: #{@episode.source_url}", @episode.source_url %>
          </div>
        </div>

      </div>
    </div>
  </div>  
</div>
</section>

<%= render 'partial/impressionArea', subtitle: 'このエピソードに' %>
<%= render 'partial/footer' %>