<section class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="col-lg-12 text-center">
      <div class="container">
        <!-- content -->
        <div class="row" style="padding:10px 0 0 0">
          <!-- main -->
          <div class="col-md-9">
            <!-- apply custom style -->
            <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
              <h1><small><%= subtitle %>対するみんなの感想</small></h1>
            </div>
            <% if @impressions.empty? %>
              <h1><small>まだ感想はありません。最初の感想を投稿してみましょう</small></h1>
            <% end %>
            <% @impressions.each do |impression|%>
            <div class="col-md-9 col-sm-12 col-md-offset-2 portfolio-item row-space-2 impression-overview">
              <div class="portfolio-caption">
                <span style="font-weight: bold;"></span>
                <div class="balloon5">
                  <div class="faceicon">
                    <% if !impression.user.image.nil? %>
                    <%= image_tag impression.user.image, class:"img-circle profile-0" %>
                    <% else %>
                    <%= image_tag 'no-image', class:"img-circle profile-0" %>
                    <% end %>
                    <p><%= impression.user.name %>さん</p>
                  </div>

                  <div class="chatting">
                    <div class="says">
                      <p><%= simple_format(impression.impression) %></p>
                      <div id="impression-<%= impression.id %>" data-impression-id="<%= impression.id %>">
                        <%= render "likes/like",impression: impression %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                このドラマを観た人に人気の作品
              </div>
              <!-- <div class="panel-body"> -->
                <ul class="nav nav-pills nav-stacked">
                  <% @dramas.each do |drama|%>

                  <% if drama.id != 0 %>
                  <div class="">
                    <span style="vertical-align:middle;">
                      <%= link_to image_tag("#{drama.image_url}"), drama_path(drama)  %>
                    </span>
                    <p class="text-info hidden-xs .bg-info"><%= drama.title =%></p>
                  </div>
                  <% end %>
                  <% end %>
                </ul> 
                <!-- </div> -->
              </div>
            </div>
          </div>

        </div>
      </section>