  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path do %>
        <%= image_tag "mitano_icon.png" %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<!--         <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <ul class="nav navbar-nav navbar-left top-adjust">
          <li><%= link_to "話題のドラマ", dramas_path %></li>
          <li><%= link_to "アクション", dramas_path(category: 0) %></li>
          <li><%= link_to "ファンタジー", dramas_path(category: 1) %></li>
          <li><%= link_to "ドラマ", dramas_path(category: 2) %></li>
          <li><%= link_to "サスペンス・ミステリー", dramas_path(category: 3) %></li>
          <li><%= link_to "ラブロマンス", dramas_path(category: 4) %></li>
          <li><%= link_to "韓流", dramas_path(category: 5) %></li>
          <li><%= link_to "海外ドラマまとめ", posts_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !user_signed_in? %>
          <li class=" top-adjust"><%= link_to "アカウント作成", new_user_registration_path %></li>
          <li class=" top-adjust"><%= link_to "ログイン", new_user_session_path %></li>
          <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if current_user.provider %>
              <!-- 認証ログインをしている時 -->

              <%= image_tag current_user.image, class:"img-circle profile-0" %>
              <%= current_user.name %>
              <% else %>
              <% current_user.email %>
              <% end %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu nab">
              <li><%= link_to "プロフィール", user_path(current_user) %></li>
              <li><%= link_to "プロフィールを編集する", edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>  
          <% end %>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>