<!-- classを差し替え -->
<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-device");
    $(".navbar").addClass("navbar-default")
  })
</script>
<div class="jumbotron">
  <%= render 'partial/navbar' %>
  <div>
    <h1 class="display-3" color="white">感想を共有しよう</h1>
    <p class="sub-title">ドラマを観て感じた感動も、興奮も</p>
    <p class="sub-title">mitanoで同じエピソードを隣で観ているかのように語り合おう</p> 
  </div>
</div>
<div class="container">  
  <!-- ご利用の流れ -->
  <section id="services">
    <div class="container">
      <div class="row row-space-4">
        <div class="col-lg-12 col-sm-12 text-center">
          <h2 class="section-heading">mitanoとは</h2>
          <h3 class="section-subheading">mitannoは海外ドラマの感想を共有するSNSです</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <%= image_tag 'search-icon'%>
          <h4 class="service-heading">探す</h4>
          <p class="text-muted hidden-xs">まず、あなたが観ているドラマを探しましょう。</p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'home-icon'%>
          <h4 class="service-heading">感想をシェア</h4>
          <p class="text-muted hidden-xs">ドラマを観たら感想をシェアしてみましょう。</p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'colab-icon'%>
          <h4 class="service-heading">みんなと議論</h4>
          <p class="text-muted hidden-xs">ドラマを観て感じた興奮・感動をみんなと議論しましょう。</p>
        </div>
      </div>
    </div>
  </section> 

  <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">おすすめのレビュー</h3>
            <h3 class="section-subheading">今話題のドラマの感想です</h4>
              <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
                  <div class="portfolio-caption">
                    <!--吹き出しはじまり-->
                    <div class="balloon5">
                      <div class="faceicon">
                       <%= image_tag 'https://images-fe.ssl-images-amazon.com/images/I/51yB9jHqkFL._SL300_.jpg' %>                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>ゲームオブスローンズが最近会社の同僚の中で話題だったので、このGWを利用して一気に見ました。
                        見始めのシーズン１では、とにかく登場人物が多く、wikiの人物相関図を見ながらなんとか見続けました。。</p>
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>

              </div>
                <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
                  <div class="portfolio-caption">
                    <!--吹き出しはじまり-->
                    <div class="balloon5">
                      <div class="faceicon">
                       <%= image_tag 'https://images-fe.ssl-images-amazon.com/images/I/51x0TJQ4lyL._SL300_.jpg' %>  
                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>２４時間の中でリアルタイムに進行するこのドラマは最高です！
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
                
              </div>
                <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
                  <div class="portfolio-caption">
                    <!--吹き出しはじまり-->
                    <div class="balloon5">
                      <div class="faceicon">
                       <%= image_tag 'https://images-fe.ssl-images-amazon.com/images/I/516zb9SR%2B-L._SL300_.jpg' %>
                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>アメリカの富裕層の学生は毎日パーティーをしていてハッピーな日々を送っている、そんな様子がこのドラマから見て取れました</p>
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <%= render 'partial/footer' %>

