<!-- classを差し替え -->
<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-device");
    $(".navbar").addClass("navbar-default")
  })
</script>
<div class="jumbotron">
  <%= render 'partial/navbar' %>
  <div>
    <h1 class="display-3" color="white">海外ドラマの感想を共有しよう</h1>
    <p class="sub-title hidden-xs">ドラマを観て感じた感動も、興奮も</p>
    <p class="sub-title hidden-xs">mitanoで同じエピソードを隣で観ているかのように語り合おう</p> 
    <% if !request.from_smartphone? && !user_signed_in? %>
    <div class="col-md-offset-2 col-xs-offset-2 row-space-2">
     <%= link_to "Facebookで登録・ログイン", user_facebook_omniauth_authorize_path, class:"btn btn-facebook facebook-1" %>
   </div>
   <% end %>
 </div>
</div>
<div class="container">  
  <!-- ご利用の流れ -->
  <section id="services">
    <div class="row row-space-4">
      <div class="col-lg-12 col-sm-12 text-center">
        <h2 class="section-heading">mitanoは海外ドラマの感想を共有するSNSです</h2>
        <% if request.from_smartphone? && !user_signed_in? %>
        <div class="col-md-offset-2 col-xs-offset-1 row-space-1">
         <%= link_to "Facebookで登録・ログイン", user_facebook_omniauth_authorize_path, class:"btn btn-facebook facebook-1" %>
       </div>
       <% end %>
       <h3 class="section-subheading">同じドラマを観ているみんなと感想を共有しましょう</h3>
     </div>
   </div>
   <div class="row text-center">
    <div class="col-md-4 col-sm-12">
      <%= image_tag 'search-icon'%>
      <h4 class="service-heading">探す</h4>
      <p class="text-muted">まず、あなたが観ているドラマを探しましょう。</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'home-icon'%>
      <h4 class="service-heading">感想をシェア</h4>
      <p class="text-muted">ドラマを観たら感想をシェアしてみましょう。</p>
    </div>
    <div class="col-md-4">
      <%= image_tag 'colab-icon'%>
      <h4 class="service-heading">みんなと議論</h4>
      <p class="text-muted">ドラマを観て感じた興奮・感動をみんなと議論しましょう。</p>
    </div>
  </div>
</section> 

<section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="row row-space-2">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">おすすめのレビュー</h3>
          <h3 class="section-subheading">今話題のドラマの感想です</h4>
            <div class="row">
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-na.ssl-images-amazon.com/images/I/41-NQU8Oa2L._SY300_.jpg'),drama_path(24) %>                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>心がえぐられるという前評判らしいですね。どこかの国であまりの内容に放送が問題視され、今後のシーズンを打ち切るような話も出た超話題&問題作。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51yB9jHqkFL._SL300_.jpg'),drama_path(6) %>                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>ゲームオブスローンズが最近会社の同僚の中で話題だったので、このGWを利用して一気に見ました。
                        見始めのシーズン１では、とにかく登場人物が多い！！</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51TlSQLhuSL._SL300_.jpg'),drama_path(12) %>                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>ライアンは２４のジャックバウアーのような乱暴さがあって面白い。 洗脳殺人鬼が第一話でいきなり捕まってしまい、驚きましたがそこからが始まりのような面白い展開です。 </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51ecLXX8xAL._SL300_.jpg'),drama_path(8) %>  
                   </div>
                   <div class="chatting">
                    <div class="says">
                      <p>話題のブレイキングパッド ！家族に残す現金を調達するため、自分でドラッグを作ることを決意...かっこいい！!最終シーズンまでずっと面白いドラマ！
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-na.ssl-images-amazon.com/images/I/A1-9PbTL%2BxL._SY300_.jpg'),drama_path(25) %>                     </div>
                     <div class="chatting">
                      <div class="says">
                        <p>ストレンジャーシングス」の見どころは’80年代な世界観だけではなく、とにかく目が離せない展開にある</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <!--吹き出しはじまり-->
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51x0TJQ4lyL._SL300_.jpg'),drama_path(1) %>  
                   </div>
                   <div class="chatting">
                    <div class="says">
                      <p>２４時間の中でリアルタイムに進行するこのドラマは最高です！最強の警官でありお父さんです！暴れまくりで爽快！みんなに観て欲しい作品！
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <!--吹き出しはじまり-->
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/51cumRw5jrL._SL300_.jpg'),drama_path(4) %>  
                   </div>
                   <div class="chatting">
                    <div class="says">
                      <p>怖いかなーと思って観て観ましたがゾンビドラマというよりヒューマンドラマ？みたいな感じで面白いです！シーズンを追うごとに主要キャラが入れ替わっていくのもすごい！！
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <!--吹き出しはじまり-->
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/61RAQxrilaL._SL300_.jpg'),drama_path(7) %>  
                   </div>
                   <div class="chatting">
                    <div class="says">
                      <p>グリム兄弟の末裔である主人公の刑事ニックが、相棒ハンクとともに魔物たちと闘いながら奇怪な事件を解決していく、新感覚ダーク・サスペンス！！！
                      </div>
                    </div>
                  </div>
                  <!--吹き出し終わり-->
                </div>
              </div>
              <div class="col-md-4 col-sm-12 portfolio-item row-space-2">
                <div class="portfolio-caption">
                  <!--吹き出しはじまり-->
                  <div class="balloon5">
                    <div class="faceicon">
                     <%= link_to image_tag('https://images-fe.ssl-images-amazon.com/images/I/516zb9SR%2B-L._SL300_.jpg'),drama_path(2) %>
                   </div>
                   <div class="chatting">
                    <div class="says">
                      <p>アメリカの富裕層の学生は毎日パーティーをしていてハッピーな日々を送っている、そんな様子がゴシップガールのドラマから見て取れました！毎日楽しそう！！</p>
                    </div>
                  </div>
                </div>
                <!--吹き出し終わり-->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>